body{
    margin: auto;
    max-width:960px;
    background: #ffffff;
    font-size: 16px;
    text-align: center;
    display: grid;
    grid-template-rows: 150px 1fr 1fr;
    grid-row-gap: 1rem;
    color: #adadad;
}
header,
section,
article{
    background: #4d4c4c;
    border-radius: 5px;
}
section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
}
h1{
    font-size: 36px;
    color: #12aa96;
    margin-bottom: 2rem;
}
#player-input{
    margin: 2rem;
    max-width: 200px;
}
.player-card,
.dialog-card{
    height: 200px;
    border-radius: 5px;
    margin: 10px;
}
.dialog-card{
    grid-column: 2;
}
textarea{
    width: 80%;
    resize: none;
    margin-bottom: 20px;
}
#comment-input{
    width: 50%;
    margin-bottom: 1rem;
}
h2{
    font-size: 24px;
    color: #adadad;
    margin-bottom: 10px;
}
.choice-img{
    width: 50px;
    display: inline-block;
    margin: 10px;
}
.dc-btn{
    font-size: 16px;
    outline: none;
    border: none;
    background: #f73232;
    color: #454646;
    display: block;
    border-radius: 5px;
    padding: 0.5rem;
    margin: auto;
    margin-top: 10px;
}
.dc-btn:hover{
    background: #dd7979;
}
@media (max-width: 768px){
    .body{
        display: grid;
        grid-template-rows: repeat(3 1fr);
    }
    .section{
        display: grid;
        grid-template-columns: repeat(3 1fr);
    }
    .choice-img{
        margin: auto;
        margin-top: 10px;
        display: block;
    }
    .dc-btn{
        margin-top: 10px;
        padding: 0;
    }
}